/* CSS Document */
body {
    background: #eff3f8;
    color: #333;
    font-family: Arial;
    font-size: 13px;
}
/* Make div class="youtube-responsive" */
.youtube-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.youtube-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*youtube*/
#main-nav ul ul a, #main-nav .mega-menu-block a
{
    color: #fff;
}
#theme-footer {
    background-color: #258102 !important;
    color: #FFFFFF;
	border-top-color: #ffffff;
}
.footer-bottom {
    background: #185100;
}
.footer-widget-top h4 {
    color: #FFFFFF;
}
#topcontrol{
	background: #258101;
}
#theme-footer a {
    color: #337ab7;
}
#main-nav {
    margin: 0 auto;
	background: #258101;
	border-bottom-color: #258101;
    width: 100%;
}
#main-nav .menu-sub-content{
    border-top: 2px solid #258101;
    background: #258101;
}
#main-nav, .cat-box-content, #sidebar .widget-container, .post-listing, #commentform {
    border-bottom-color: #e7ecf1;
}
.breaking-news span.breaking-news-title {
    background: #258101;
}
a.more-link{
    background-color: #258101;
}
.flex-control-paging li a.flex-active{
	background-color: #258101;
}
::-webkit-scrollbar-thumb {
    background-color: #258101;
}
 #theme-header {
    border-top-color: #258101;
}
#main-nav ul li.current-menu-item a{
    background-color: #ffffff91;
}
.widget {
    background: #FFF;
    clear: both;
    /* margin-bottom: 25px; */
    margin-top: -10px;
}
#wrapper.boxed-all #main-content {
    width: 997px;
    margin-top: -10px;
    padding: 0;
    background: transparent;
}
.slider-caption h2 a, .slider-caption h2, .full-width .content .slider-caption h2 {
    color: #ffffff;
    font-size: 20px;
    font-family: BebasNeueRegular, arial, Georgia, serif;
}

.slider-caption {
    background: #267290d9;
    color: #FFF;
}

.ei-title h2, .content .ei-title h2, .content .slider-caption h2 a, .content .slider-caption h2, .slider-caption h2 a, .slider-caption h2, .full-width .content .slider-caption h2 {
    font-size: 20px;}

.no-js img.lazyload { display: none; }
figure.wp-block-image img.lazyloading { min-width: 150px; }
.lazyload, .lazyloading { opacity: 0; }
.lazyloaded {
	opacity: 1;
	transition: opacity 400ms;
	transition-delay: 0ms;
}
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.linkw p{ border-bottom: #ccdcee solid  1px; padding-top: 10px; margin-left: 10px;}
.linkw p i{ padding-right: 5px;}
.linkw a{ color: #578bae}
/*.footer-bottom { height: 20px !important}*/
#sidebar { margin-top: 10px;}
.content .flexslider{ height: 244px !important;}
.flexslider { background: #FFFFFF !important;}
.input-group {
    display: table;
    border-collapse: separate;
    margin-top: 36px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-btn {
    font-size: 0;
    white-space: nowrap
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
.input-group-btn button{ padding: 7px;}
 #footer-third1{ margin-right: 0px;}
.tab-wrapper{
    margin: 0px auto;
}
.tab-wrapper ul.tab{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #eef1f5;
}
.tab-wrapper ul.tab li{
    float: left;
    list-style: none;
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 20px;
    color: #258101;
}
.tab-wrapper ul.tab li.active{
    background: #Fff;
    border-bottom: 3px solid #258101;
}
.tab-wrapper ul.tab li.active a{
    color: #258101;
}
.tab-wrapper ul.tab li a{
    color: #258101;
    text-decoration: none;
    font-family: BebasNeueRegular, arial, Georgia, serif;
}
.tab-content{
    padding: 20px;
}
.tab-item{
    display: none;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.post-box-title a, .tab-item a, .linkw a { font-weight: 600; }
.jssort121{ left: 0px !important}
@media(max-width: 767px) {
    .jssort121{ left: -47.5668px !important}
}
@media(max-width: 320px) {
    .jssort121{ left: -32.5668px !important}
}
@media(max-width: 480px) {
    .jssort121{ left: -65.4599px !important}
}
@media(min-width: 768px) {
    /*.jssort121{ left: -32.5668px !important}*/
}
@media (min-width: 576px) {
    /*.jssort121{ left: -15.5668px !important}*/
}
.background-this{ background:  #FFF;}
.background-this #crumbs{ padding: 5px;}
.background-this .page-head, .background-this h3{ padding-left: 10px;}

element.style {
}
#socialMedia {
    position: absolute;
    right: 0px;
    margin-right: 0px;
    top: 320px;
    z-index: 10;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
}
.moduleSocialMedia a .icon {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 33%;
}
.moduleSocialMedia a {
    color: #fff;
    transition: background-color .5s ease,color .5s ease,border-color .5s ease,opacity .5s ease;
    display: block;
    width: 50px;
    height: 50px;
    border: 0 solid #fff;
    margin: 0 0 0 0;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border-radius: 0;
    vertical-align: top;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    padding-top: 15px;
}
#socialMedia a.facebookSocialMedia {
    background-color: #3b5998;
}
#socialMedia a.instagramSocialMedia {
    background-color: #d35c92;
}
#socialMedia a.twitterSocialMedia {
    background-color: #1DA1F2;
}
#socialMedia a.youtubeSocialMedia {
    background-color: #cd201f;
}
#socialMedia a.linkedinSocialMedia {
    background-color: #0077b5;
}
#footer-second1 p i{ margin-right: 6px;
    width: 15px;
    float: left;
    height: 20px;}
#footer-widget-area{ height: 100% ;background: url("images/LogoF1.png") 68% no-repeat;}
#main-nav ul li.menu-item-has-children:after, #main-nav ul li.mega-menu:after, .top-menu ul li.menu-item-has-children:after{ display: none;}
.cat-tabs-header{ display: block;}
.cat-box .actions{ display: none;}
@media only screen and (max-width: 900px){
    .search-block {
        display: none;
    }
    #main-nav ul li.menu-item-has-children:after, #main-nav ul li.mega-menu:after, .top-menu ul li.menu-item-has-children:after{
        display: block;
    }
    .cat-tabs-header{ display: none;}
    .cat-box .actions{ display: block;}
    .cat-box>.actions {
        float: right;
        display: inline-block;
        padding: 15px 0 15px;
        margin-right: 20px;
    }
}

.cat-box>.actions .btn-group a{ font-size: 16px; font-weight: 500;}
.cat-box>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: right;
    display: inline-block;
    border: 0;
}
.dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,.1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-menu-right, .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.pull-right {
    float: right!important;
}
.open>.dropdown-menu{ display: block;}
.dropdown-menu>li>a {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
}
.btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 16px;
    left: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}
.btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before {
    position: absolute;
    top: -8px;
    right: 15px;
    left: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}
.btn-group ul li.active a{ color: #00000094}
.menu-item-48128 { padding-top: 5px;}
/*pagination */
.pagination {
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}
.breadcrumb>li, .pagination {
    display: inline-block;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.socialShare {
    background: url("images/mxh.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
}
.socialShare {
    background: url("images/mxh.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
}
.whatsapp {
    background: url("images/whatsapp.png");
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.mxh-right{ margin-top: -20px; float: right;}
.twitter {
    background-position: 0px -84px;
}
