/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.jssorb111 .i {
    position: absolute;
    color: #fff;
    font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
    text-align: center;
    cursor: pointer;
    z-index: 0;
}

.jssorb111 .i .n {
    display: none;
}

.jssorb111 .i .b {
    fill: #fff;
    stroke: #258101;
    stroke-width: 500;
    stroke-miterlimit: 10;
    stroke-opacity: .5;
}

.jssorb111 .i:hover .b {
    fill: #fea900;
    stroke: #fea900;
    stroke-width: 6000;
    stroke-opacity: 1;
}

.jssorb111 .iav .b {
    fill: #000;
    stroke-width: 6000;
    stroke-opacity: 1;
}

.jssorb111 .i.idn {
    opacity: .3;
}

.jssorb111 .iav .n, .jssorb111 .i:hover .n {
    display: block;
}

.jssort121 .p {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,1);
    box-sizing: border-box;
    color: #fff;
    background: #258101;
    opacity: .9;
    min-width: 232px;
}

.jssort121 .p .t {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 24px;
    overflow: hidden;
}

.jssort121 .p .i {
    margin-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 64px;
    height: 54px;
    border: none;
    float: left;
}

.jssort121 .pav, .jssort121 .p:hover {
    color: #000;
    /*background: rgba(112,207,255,1);*/
    background: #8dcb76;
}

.jssort121 .p:hover {
    opacity: .75;
}

.jssort121 .pav, .jssort121 .p:hover.pdn {
    opacity: 1;
}

.jssort121 .ti {
    position: relative;
    font-size: 14px;
    /*font-weight: bold;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.jssort121 .ti a {
    color: #fff;
    font-size: 11px;
}

.jssort121 .ti a:hover {
    color: #fff;
}

.jssort121 .d {
    position: relative;
    font-size: 12px;
}
/*.jssort121 .d:before {content:'\a';white-space:pre;}*/
